html,
body
{
  font-family: optima;
  font-size: 130%;
  background: khaki;
}

html,
body,
h1,
ul,
li
{
  margin: 0;
  padding: 0;
}

h1
{ position: relative; top: 0; left: 0; background: white; height: 180px; line-height: 180px; padding-left: 20px;}

a {color: black; text-decoration: none}
li { list-style-type: none;}
li {cursor: pointer}
ul,
li {padding: 0; margin: 0}
#menu { background: white; max-width: 20%; min-width: 200px; padding: 20px;}
#menu > li { list-style-type: none;}
.submenu li { background: aliceblue;}
span {font-weight: bold}
.hidden {display: none;}
.visible { display: block;}
