html, body, h1, p, input, ul, li
{
  padding: 0;
  margin: 0;
  font-size: 100%;
}


html, body
{
  height: 100%;
}

body {
  background: lightblue;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}

button {
  background: white;
  border: 1px solid gray;
  height: 46px;
  vertical-align: top;
  width: 60px;
}

button:hover {
  background: rgb(255,120,120);

  border: 1px solid gray;
  color: white;
  height: 45px;
  vertical-align: top;
  width: 60px;
}

input
{
  height: 44px;
  width: 320px;
  border: 1px solid gray;
  padding-left: 10px;
}

li {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 34px;
  text-align: left;
}


#task-title,
#task-title-input
{
  display: block;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 40px;
}

#task-title-h1
{
  display:inline-block;
  height: 46px;
}

#task-title-input
{
  background: rgb(230,230,230);
}

#admin-panel
{
  position:relative;
  height: 80px;
  background: whitesmoke;
  border-bottom: 1px solid gray;
  text-align: right;
  padding-right: 40px;
}

.admin-item
{
  padding: 0px;
  background: whitesmoke;
}

#mylists
{
  height: 100%;
}

#mylists-header
{
  padding-top: 35px;
  padding-bottom: 10px;
  color:gray;
}

#mylists-header:hover
{
  color:black;
}

.mylists-list
{
  padding-bottom: 30px;
}

#task-list li
{
  background: whitesmoke;
  padding: 2px 4px;
}

.hidden
{
  display: none;
}
